<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
        <div id="head">
            <title>Home</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/result.css' %}">
            <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
            <div class="header-right">
            {% if user.is_authenticated%}
                   <small><a href="{% url 'log_out' %}"><span class="glyphicon glyphicon-log-out"></span><em class="capt"><em style="font-family:Helvetica; font-size:9px;">Logout</em></em></a></small>
            {% else %}
                   <a href="{% url 'logins' %}"><span class="glyphicon glyphicon-log-in"></span></a>
                   <a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span></a> 
            {% endif %}
            </div>
            <div class="navbar">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static "result/iiro.jpg"%}" alt="iiro-logo"  width="30"/></a>
                </div>
                <a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span></a>
                <a href="{% url 'my_post_list' %}"><span class="glyphicon glyphicon-envelope"></span></a>
                <div class="dropdown">
                  <span class="dropbtn">Juniors</span>
                  <div class="dropdown-content">
                    <a href="{% url 'results_junior_senior' pk=0 %}"><h6>JSS 1</h6></a>
                    <a href="{% url 'results_junior_senior' pk=1 %}"><h6>JSS 2</h6></a>
                    <a href="{% url 'results_junior_senior' pk=2 %}"><h6>JSS 3</h6></a>
                    <a href="{% url 'post_list' %}"><h6>Info</h6></a>
                  </div>
                </div>
                <div class="dropdown">
                  <span class="dropbtn">Seniors</span>
                  <div class="dropdown-content">
                    <a href="{% url 'results_junior_senior' pk=3 %}"><h6>SSS 1</h6></a>
                    <a href="{% url 'results_junior_senior' pk=4 %}"><h6>SSS 2</h6></a>
                    <a href="{% url 'results_junior_senior' pk=5 %}"><h6>SSS 3</h6></a>
                    <a href="#"><h6>Info</h6></a>
                  </div>
                </div>
                
                <div class="dropdown">
                  <span class="dropbtn">Library</span>
                  <div class="dropdown-content">
                    <a href="{% url 'stores' %}"><h6>Books</h6></a>
                    <a href="{% url 'authors' %}"><h6>Authors</h6></a>
                    <a href="{% url 'genres' %}"><h6>Genre</h6></a>
                    <a href="{% url 'my_loan_book' %}" class="top-menu"><h6>My Lib</h6></a>
                  </div>
                </div>
                <div class="dropdown">
                  <span class="dropbtn">Portal</span>
                  <div class="dropdown-content">
                    <a class="active" href="{% url 'tutor_summary' pk=1 %}"><h6>Staff</h6></a>
                    <a href="{% url 'student_names' %}"><h6>Students</h6></a>
                    <a href="{% url 'flexing' %}"><h6>How</h6></a>
                  </div>
                </div>
                <div class="dropdown">
                  <span class="dropbtn">Search by</span>
                  <div class="dropdown-content">
                    <a class="active" href="{% url 'subject_class_term_filter' %}"><h6>Class</h6></a>
                    <a href="{% url 'student_name_class_filter' %}"><h6>Student</h6></a>
                  </div>
                </div>
            </div>
              <!-- Side navigation -->
            <navz>
                <span><em style="margin-left:250px;">Welcom to UMMUL_QURA RESULT PORTAL </em></span>
            </navz>
            <div class="sidenav">
                <div style="margin-right:5px;margin-top:5px"><h6 style="font-family:Helvetica; color:white; font-size: 9px;">Menue</h6>
                    {% if user.is_authenticated %}
                        <img class="rounded-circle" src="{% static "result/Jagun.jpg"%}" alt="My_pics" style="max-width: 2em; margin: auto 0px;"/>
                    {% else %}
                        <a class="active" href="{% url 'tutor_summary' pk=1 %}"><h6>Staff</h6></a>
                        <a href="{% url 'results_junior_senior' pk=0 %}"><h6>JSS 1</h6></a>
                        <a href="{% url 'results_junior_senior' pk=1 %}"><h6>JSS 2</h6></a>
                        <a href="{% url 'results_junior_senior' pk=2 %}"><h6>JSS 3</h6></a> 
                        <a href="{% url 'results_junior_senior' pk=3 %}"><h6>SSS 1</h6></a>
                        <a href="{% url 'results_junior_senior' pk=4 %}"><h6>SSS 2</h6></a>
                        <a href="{% url 'results_junior_senior' pk=5 %}"><h6>SSS 3</h6></a>
                        <a href="{% url 'student_names' %}"><h6>Students</h6></a>
                        <a href="{% url 'flexing' %}"><h6>How</h6></a>
                        
                    {% endif %}
                    {% if user.is_authenticated and user.is_staff %}
                        {% if request.user.profile.bio != 'new!' %}<a href="{% url 'pro_detail' request.user.id %}" class="top-menu" style="font-family:Helvetica; color:skyblue; font-size: 9px;">Profile</a>{% endif %}
                        <a href="{% url 'teacher_create' %}" style="font-family:Helvetica; color:skyblue; font-size: 9px;">Start</a>
                        <a href="{% url 'search_tutors' %}" style="font-family:Helvetica; color:skyblue; font-size: 9px;">Move</a>
                        <a href="{% url 'student_in_none' %}" style="font-family:Helvetica; color:skyblue; font-size: 9px;">Bin</a>
                        
                    {% endif %} 
                    {% if perms.catalog.can_mark_returned %}
                        <a href="{% url 'all_accounts' %}" style="font-family:Helvetica; color:skyblue; font-size: 9px;">Accounts</a>
                        <a href="{% url 'author_create'  %}" style="font-family:Helvetica; color:skyblue; font-size: 9px;">Create Authors</a>
                        <a href="{% url 'book_create'  %}" style="font-family:Helvetica; color:skyblue; font-size: 9px;">Create Books</a>
                        <a href="{% url 'genre_create'  %}" style="font-family:Helvetica; color:skyblue; font-size: 9px;">Create Genre</a>
                        <a href="{% url 'language_create'  %}" style="font-family:Helvetica; color:skyblue; font-size: 9px;">Create Language</a>
                        <a href="{% url 'books' %}" class="top-menu" style="font-family:Helvetica; color:skyblue; font-size: 9px;">Manage Stores</a>
                        <a href="{% url 'br-books' %}" style="font-family:Helvetica; color:skyblue; font-size: 9px;">Manage Loans</a>
                        <a href="{% url 'renew_approval'  %}" style="font-family:Helvetica; color:skyblue; font-size: 9px;">Renew Books</a>
                        <a href="{% url 'qeuing'  %}" style="font-family:Helvetica; color:skyblue; font-size: 9px;">Grant Requests</a>
                        <a href="{% url 'post_draft_list'  %}" style="font-family:Helvetica; color:skyblue; font-size: 9px;">Posts</a>
                    {% endif %}
                </div>
                
            </div>
        
            <!-- Page content -->
            
            <!-- Side navigation -->
            <!-- Side navigation -->
            
            <div class="sidenavs">
                <bodys>
                    <h1><P class='blocktext'>ADMONITIONS</P></h1>
                    <navs>
                        <ul>
                            <li><a href="#Reliance">Reliance</a></li>
                            <li><a href="#Provider">Provider</a></li>
                            <li><a href="#Promise">Promise</a></li>
                            <li><a href="#Healthier">Healthier</a></li>
                        </ul>
                    </navs>
                    <article id="Reliance"> 
                        <h2>Reliance on Allah</h2>
                        <img src="{% static "result/pic1.jpg"%}" alt="True Provider for the Universe!" width=620>
                        <h3>List of features</h3>
                        <ul>
                            <li>Aboundace Provission:1</li>
                            <li>Total Security:2</li>
                            <li>Hope for the Hopeless:3</li>
                        </ul>
                
                        <div>
                        <hr><pre>These are the interpretations! The only one who provide for all is Allah(SWA), His holy messanger atested to that!</pre><hr> 
                        </div>
                        <ol>First wisdom: No one like him.</ol>
                        <ol>Second wisdom: He is everlasting.</ol>
                        <ol>Third wisdom: His knowledge upon all.</ol>
                    </article>
                    <article id="Provider"> 
                        <h2>The Provider</h2>
                        <img src="{% static "result/pic2.jpg"%}" alt="True Provider for the Universe!" width=620>
                        <h3>List of features</h3>
                        <ul>
                            <li>Giver that never mind:1</li>
                            <li>Giver that never lack:2</li>
                            <li>Giver that never being given:3</li>
                        </ul>
                
                        <div>
                        <hr><pre>This is the interpretations! Any other giver will surely lack in one way or the other! Allah Akbar!! </pre><hr> 
                        </div>
                        <ol>First wisdom: He reward calling on Him alone.</ol>
                        <ol>Second wisdom: He respond to call always.</ol>
                        <ol>Third wisdom: He has painful torment for detesters.</ol>
                    </article>
                    <article id="Promise"> 
                        <h2>He Fails Not His Promise</h2>
                        <img src="{% static "result/pic3.jpg"%}" alt="True Provider for the Universe!" width=620>
                        <h3>List of features</h3>
                        <ul>
                            <li>Alway with His Sincare Servant:1</li>
                            <li>He them aright!:2</li>
                            <li>He is Comfort is Certain:3</li>
                        </ul>
                
                        <div>
                        <hr><pre>This is the interpretations! He is Every part of our journey!</pre><hr> 
                        </div>
                        <ol>First wisdom</ol>
                        <ol>Second wisdom</ol>
                        <ol>Third wisdom</ol>
                    </article>
                    <article id="Healthier">
                        <h2>Healthier than Any!</h2>
                        <img src="{% static "result/pic4.jpg"%}" alt="True Provider for the Universe!" width=620>
                        <h3>List of features</h3>
                        <ul>
                            <li>He test with sickness:1</li>
                            <li>His the provider of sound health:2</li>
                            <li>All doctors are only care, but He alone cures!:3</li>
                        </ul>
                
                        <div>
                        <hr><pre>This is the interpretations! All doctors are only care, but He alone cures!</pre><hr> 
                        </div>
                        <ol>First wisdom: Sure</ol>
                        <ol>Second wisdom: Real</ol>
                        <ol>Third wisdom: Reliable</ol>
                    </article>
                </bodys>
            </div>
            
            <!-- Page content -->
            <!--<div class="mains">-->
            <!--...-->
            <!--</div>-->
        </div>
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
    <div class="footer">
        <div style="font-family:Helvetica; color:palegoldenrod; font-size: 10px;">©Copyright 2019 examing body. All rights reversed.</div>
        <div class="footer-left">
            {% if user.is_authenticated%}
             <div class="ft" style="font-family:Helvetica; color:red; font-size: 10px;"> {{ user.username }} <small><a href="{% url 'log_out' %}"><span class="glyphicon glyphicon-log-out"></span></a></small></div>
                 {% if request.user.profile.email_confirmed == False %}
                 <div class="ft"><a href="{% url 'edith' request.user.id %}"><small><span class="glyphicon glyphicon-flag" style="color:white;"></small></span><h6>{{ request.user.profile.bio|default:"Action required!" }}</h6></a></div>
                 {% endif %}
            {% endif %}
        <div  style="font-family:Helvetica; color:white; font-size: 10px;"><strong style="font-family:Blackadder ITC; color:red; font-size: 10px;">Contact: </strong>Arowona Bus-Stop, Akanran Road, Ibadan-Oyo state.</div>
        <div  style="font-family:Helvetica; color:white; font-size: 10px;"><strong style="font-family:Blackadder ITC; color:red; font-size: 10px;">E-mail: </strong>ummulqura@marktoob.com, ummulqr@yahoo.com</div>
        <div  style="font-family:Helvetica; color:white; font-size: 10px;"><strong style="font-family:Blackadder ITC; color:red; font-size: 10px;">Tell: </strong>08053776177, 07042412052</div>
        </div>
    </div>
</html>